.card {
    border: none;
}

.chat {
    list-style: none;
    margin-top: 0px;
    padding: opx;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}

.message-right {
    text-align: right;
}

.rounded-circle {
    height: 40px;
    width: 40px;
}

.card-body {
    overflow-y: scroll;
    height: 400px;;
}